/*@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en");*/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  /*font-family: 'Open Sans', helvetica, arial, sans-serif;*/
  /*color: #676a6c;*/
}

.table .grid {
    font-size: 13px;
}

.main-content {
	margin-top: 40px;
	min-height: 490px;
	margin-bottom: 40px;
}

.footer {
	background-color: #eee;
	padding: 40px 0 40px 0;
	margin-top: 40px;
}

.footer-end {
	background-color: #111;
	color: #eee;
	margin-bottom: 0;
	padding: 10px 0 0px 0;
	font-size: .9em;
}

a.fa:hover {
	text-decoration: none;
}

a, a:hover {
	color: #3c763d;
}

.table > tbody > tr > td {
	vertical-align: middle;
}

thead {
	background-color: #dff0d8;
	border-top: solid 2px #ddd;
}

/*.img-thumbnail, 
.thumbnail, 
.well, 
.panel, 
.alert, 
.container .jumbotron, 
.container-fluid .jumbotron,
.panel-heading {
	border-radius: 0;
}*/

.shipping-schema {
    /*margin-top: 50px;*/
}
.step-line{
    display: block;
    border-bottom: 2px solid #bbb;
    width: 75%;
    z-index: 0;
    margin-bottom: -21px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
.shipping-schema ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    position: relative;
}
.shipping-schema ul li{
    display: inline-block;
    vertical-align: top;
    width: 25%;
    text-align: center;
    color: #bbb;
    font-size: 11px;
}

.shipping-schema .schema3 li{
    width: 33.3333%;
}
.shipping-schema .schema5 li{
    width: 20%;
}
.shipping-schema ul li .single-step{
    display: inline-block;
    border: 2px solid #bbb;
    border-radius: 100%;
    padding: 8px 15px;
    margin-bottom: 10px;
    color: #bbb;
    font-weight: bold;
    font-size: 14px;
    background-color: #fff;
}
.shipping-status-active .single-step{
    /*background-color: #0078c7 !important;*/
    background-color: green !important;
    color: #fff !important;
}
.shipping-status-active {
    color: #333 !important;
}
.shipping-schema ul li p{
    font-size: 11px;
    line-height: 16px;
    font-weight: bold;
}

h1 {
    margin-top: 0;
}